.site-title{
    font-size: 87px;
    margin: 0;
    font-family: Noto serif;
}

.subtitle {
font-size: 20px;
  margin-top: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.names{
  font-size: 30px;
  font-family:Libertinus,Math;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 80px;
}

.important{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 23px;
   font-weight: bold;
}

div {
    background-image: url("images/background.jpg");
    background-size: cover; /*makes image cover the whole screen*/
    background-position: center; /*Centers the image*/
    background-repeat: no-repeat; /*prevents tiling*/
}


.container {
    padding: 89px;
  border-radius: 50px;
}

.picture{
  width: 700px;
  height: auto;
  margin: 130px auto;
  margin-bottom: 0%;
  display: block;
  max-width: 100%
}

