.site-title{
    font-size: 87px;
    margin: 0;
    font-family: Noto serif;
 background: linear-gradient(90deg, #ff8585, #aa2c41, #e09d9d);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
}
}

.subtitle {
font-size: 20px;
line-height: 40px;
  margin-top: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.names{
  font-size: 35px;
  font-family:Libertinus,Math;
  font-weight: bold;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 80px;
}

.important{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 23px;
   font-weight: bold;
   text-align: center;
}

div {
    background-image: url("images/Background\ 2.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}


.container {
    padding: 89px;
  border-radius: 50px;
}

.main{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   font-weight: bold;
}

.picture{
  width: 700px;
  height: auto;
  margin: 130px auto;
  margin-bottom: 0%;
  display: block;
  max-width: 100%
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #db8484;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.Highlight {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
  text-align: center;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fun-fact {
  background: linear-gradient(135deg, #fff0f5, #ffc0cb);
  border: 2px dashed #ff69b4;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fun-fact-box button {
  background-color: #ff69b4;
  color: rgb(204, 111, 168);
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.fun-fact-box button:hover {
  background-color: #ff1493;
}
